<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog</title>
  </head>
  <body>
    <div class="wrapper">
      <h1>Welcome to my blog</h1>
      <p>Writer: Raj Marde</p>
    </div>
    <% articles.forEach((article)=>{ %>
    <div class="post">
      <h1 class="post_heading"><%= article.title %></h1>
      <p class="summary"><%= article.summary %></p>
      <a href="/article/<%= article.id %> ">More...</a>
    </div>
    <% }); %>
  </body>
</html>
